# Data Structure Theory :

 Ques 1. What are data structures, and why are they important?

 Ans.Data structures are ways to organize and store data so that we can access, and modify the data efficiently which leads to improving the performance of algorithms. Built-in data structures include lists, tuples, sets, and dictionaries. They help manage data by providing operations like insertion, deletion, and traversal, which are essential for solving problems efficiently in Python programming.

Ques 2.Explain the difference between mutable and immutable data types with examples.

Ans.In Python, mutable data types are those that can be modified after creation, such as lists, dictionaries, and sets . Immutable data types cannot be changed once created, including tuples , strings ,int and float.


Ques 3.What are the main differences between lists and tuples in Python?

Ans.Lists are mutable, allowing elements to be added, removed, or modified, making them versatile for dynamic collections. Tuples, on the other hand, are immutable, providing a fixed structure that cannot be altered, which makes them faster and more memory-efficient. Lists use square brackets [], while tuples use parentheses ().

Ques 4.Describe how dictionaries store data.

Ans.Dictionaries store data in key-value pairs, where each key is unique and maps to a specific value. Python uses a hash table internally, allowing constant-time complexity (O(1)) for operations like insertion, and deletion, making dictionaries highly efficient for data retrieval.


Ques 5.Why might you use a set instead of a list in Python?

Ans.Sets are used when you need to store unique elements and avoid duplicates. Sets are also optimized for fast membership tests (checking if an element exists) because they use a hash table internally. Unlike lists, sets are unordered and cannot contain duplicate values, making them useful for operations like union, intersection, and difference.

Ques 6. What is a string in Python, and how is it different from a list?

Ans. A string in Python is an ordered sequence of characters enclosed in quotes (single, double, or triple). Unlike lists, strings are immutable, meaning their characters cannot be altered once defined, and they only store character data, not heterogeneous types.

Ques 7. How do tuples ensure data integrity in Python?

Ans Tuples are immutable, so once a tuple is created, its contents cannot be changed. This immutability guarantees that the data remains consistent throughout the program, which is especially useful when you need to protect the integrity of fixed collections of values.

Ques 8. What is a hash table, and how does it relate to dictionaries in Python?

Ans.A hash table is a data structure that maps keys to values using a hash function for quick lookups. Python dictionaries are implemented using hash tables, allowing them to perform key-based operations like insertion, deletion, and access in constant time on average.

Ques 9. Can lists contain different data types in Python?

Ans. Yes, Python lists can contain elements of various data types, including numbers, strings, objects, and even other lists. This flexibility makes lists very versatile for storing collections of heterogeneous data.

Ques 10. Explain why strings are immutable in Python.

Ans. Strings are immutable to enhance performance and security; they allow for efficient memory management and caching. This immutability also ensures that when strings are shared between different parts of a program, their values remain consistent and unaltered.

Ques 11. What advantages do dictionaries offer over lists for certain tasks?

Ans.Dictionaries provide fast, constant-time lookups for values using unique keys, which is more efficient than searching through a list sequentially. They are ideal for mapping relationships and when you need to access elements via a non-integer key, enhancing both speed and code clarity.

Ques 12. Describe a scenario where using a tuple would be preferable over a list.

Ans.Tuples are ideal when you have a fixed collection of items that should not change, such as storing coordinates or representing records like (Employee id , name, age, city). Their immutability ensures that the data remains constant, which can also provide performance benefits over mutable lists.

Ques 13. How do sets handle duplicate values in Python?

Ans.Sets automatically remove duplicate elements since they are designed to store only unique items. When you add elements to a set, any duplicates are ignored, making sets an efficient choice for ensuring a collection has no repeated values.

Ques 14. How does the “in” keyword work differently for lists and dictionaries?

Ans.For lists, the in keyword checks if a specific value exists by scanning through each element, which can be less efficient for long lists. In dictionaries, in checks if a key exists using the underlying hash table, offering a much faster lookup.

Ques 15. Can you modify the elements of a tuple? Explain why or why not.

Ans.No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its contents are fixed, ensuring data integrity and enabling performance optimizations like caching.

Ques 16. What is a nested dictionary, and give an example of its use case?

Ans.A nested dictionary is a dictionary that contains other dictionaries as its values. For example, a nested dictionary can represent a collection of user profiles where each key is a username and its value is another dictionary containing user details (like email, age, and address).

Ques 17. Describe the time complexity of accessing elements in a dictionary.

Ans. Accessing elements in a dictionary is typically O(1) on average, thanks to the hash table implementation. This constant-time performance makes dictionaries extremely efficient for retrieving values based on their keys.

Ques 18. In what situations are lists preferred over dictionaries?

Ans. Lists are preferred when you need to maintain an ordered collection of items or when the order of elements is important. They are also useful when you need to store data that is naturally sequential and when operations like sorting and indexing are required.

Ques 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.Historically, dictionaries in Python did not maintain insertion order, though Python 3.7+ guarantees insertion order. However, they are considered unordered because their primary design is for fast key-based lookups rather than ordered traversal. The unordered nature (or order preservation as a secondary feature) means retrieval is optimized for speed, not sequence.

Ques 20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans.Lists retrieve data by index, requiring sequential access or iteration to find a value if the index is unknown, which can be less efficient for large datasets. Dictionaries retrieve data via unique keys using a hash table, providing faster, constant-time access for known keys, which is ideal for direct lookups.

## Practical Questions

In [ ]:
# Creating string and printing my name.
name = "Sushil Pal"
print(name)

Sushil Pal

In [ ]:
#Finding lenght of the string Hello World
string = "Hello World"
print(len(string))

11

In [ ]:
#Printing first 3 char. of python programming
Curr_course = "Python Programming"
print(Curr_course[0:3:1])

Pyt

In [ ]:
#Converting the hello to uppercase
greet = "hello"
print(greet.upper())

HELLO

In [ ]:
#Replace apple with orange in the string
fruit = "I like apples"
print(fruit.replace("apples","orange"))

I like orange

In [ ]:
#printing list value
list1 = [1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [ ]:
#Append the number 10 in the list
list2 = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#Remove 3 from the list
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [ ]:
#Access second value from the list
list4 = ['a','b','c','d']
print(list4[1])

b

In [ ]:
#Reversing a list through slicing
list5 = [10,20,30,40,50]
print(list5[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#Creating a tuple with the value 100,200,300
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
#Accessing second last element of the tuple
tuple2= ('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

In [ ]:
# Finding minimum number of tuple
tuple3 =  (10, 20, 5, 15)
print(min(tuple3))

5

In [ ]:
# Code to find index of 'cat'
tuple4 =  ('dog', 'cat', 'rabbit')
print(tuple4.index('cat'))

1

In [ ]:
# Code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple5 = ("apple", "banana", "cherry")
print("kiwi" in tuple5)

False

In [ ]:
# Create a set with three value a,b and c and print it
set1 = {'a','b','c'}
print(set1)

{'a', 'b', 'c'}

In [ ]:
#Code to clear the set
set2 =  {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [ ]:
# Code that remove the number 4 from the set
set3 = {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [ ]:
# Union of two set
a = {1,2,3}
b = {3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
# Intersection of two sets
a = {1,2,3}
b = {2,3,4}
print(a&b)

{2, 3}

In [ ]:
# Creating a dictionary with the key name , age and city
dict1 = {"name": "Sushil", "age": 22, "city": "Jaipur"}
print(dict1)

{'name': 'Sushil', 'age': 22, 'city': 'Jaipur'}

In [ ]:
# Adding new key value pair in the dictionary
dict1['country'] = "India"
print(dict1)

{'name': 'Sushil', 'age': 22, 'city': 'Jaipur', 'country': 'India'}

In [ ]:
# Code to access the value associated with the key "name" in the dictionary
dict2 =  {'name': 'Alice', 'age': 30}
print(dict2['name'])

Alice

In [ ]:
# code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3.pop('age')
print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict4 = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict4)

True

In [ ]:
#  Code to create a list, a tuple, and a dictionary, and print them all.
list = [43,"Hello Sir/Mam",5+6j, 5.67]
tuple = (43,"Hello Sir/Mam",5+6j, 5.67)
dict = {"name": "Sushil", "age": 22, "city": "Jaipur"}
print(f"{list}\n{tuple}\n{dict}")

[43, 'Hello Sir/Mam', (5+6j), 5.67]
(43, 'Hello Sir/Mam', (5+6j), 5.67)
{'name': 'Sushil', 'age': 22, 'city': 'Jaipur'}

In [ ]:
# Code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
lis = [32,45,89,33,57]
lis.sort()
print(lis)

[32, 33, 45, 57, 89]

In [ ]:
# Code to create a list with strings and print the element at the third index.
list_string = ["Kashmir","Mountain","Prayagraj","Nainitaal"]
print(list_string[3])

Nainitaal

In [ ]:
d1 = {"City":"Jaipur", "Country":"India"}
d2 = {"Skills":"Basic Java , Python , C++", "Language":"Hinglish"}
d1.update(d2)
print(d1)

# OR
var1 = {**d2, **d1}
print(var1)

# OR
var2 = d2|d1
print(var2)

# OR
var3 = d1.copy()
var3.update(d2)
print(var3)

#Through loop
for i in d2:
  d1[i] = d2[i]
print(d1)

# Another approach
for key,value in d2.items():
  var3[key] = value
print(var3)

{'City': 'Jaipur', 'Country': 'India', 'Skills': 'Basic Java , Python , C++', 'Language': 'Hinglish'}
{'Skills': 'Basic Java , Python , C++', 'Language': 'Hinglish', 'City': 'Jaipur', 'Country': 'India'}
{'Skills': 'Basic Java , Python , C++', 'Language': 'Hinglish', 'City': 'Jaipur', 'Country': 'India'}
{'City': 'Jaipur', 'Country': 'India', 'Skills': 'Basic Java , Python , C++', 'Language': 'Hinglish'}
{'City': 'Jaipur', 'Country': 'India', 'Skills': 'Basic Java , Python , C++', 'Language': 'Hinglish'}
{'City': 'Jaipur', 'Country': 'India', 'Skills': 'Basic Java , Python , C++', 'Language': 'Hinglish'}

In [ ]:
# Code to convert a list of strings into a set.
listr = ["Vague","Consistent","Approach","Almighty"]
print(set(listr))

{'Vague', 'Consistent', 'Almighty', 'Approach'}